* {
  margin: 0;
  padding: 0;
  font-family: FuenteGeneral;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #c30012;
}

.ametzondologo {
  width: 25%;
}

.candado {
  width: 3%;
  height: 3%;
}
.candadologo {
  width: 100%;
  height: 100%;
}

.tienda {
  text-align: center;
}

.logotienda {
  width: 200px;
}

.logotienda>img {
  width: 100%;
}

.productos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 0 15% 0 15%;
}

.producto {

}

.imagenproducto {
  max-height: 100%;
  max-width: 100%;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #c30012;
  width: 100%;
}

.mapa {
  width: 60%;
}

.footerderecha {
  display: flex;
  flex-direction: row;
  width: 35%;
}

.mapa>iframe {
  width: 100%;
}

.horario {
  width: 70%;
}

.copy {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  background-color: black;
  color: #c30012;
  text-align: center;
}


#rh{
  text-align: center;
}
#bodyregistro{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
  color: white;
  background-color: #34495E;
}

#formregistro{
  margin: 20px auto;
  padding: 20px;
}
