* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #c30012;
}

.ametzondologo {
  width: 25%;
}

.candado {
  width: 3%;
  height: 3%;
}

.tienda {
  background-color: rgb(255, 223, 225);
  text-align: center;
}

.productos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 0 15% 0 15%;
}

.producto {
  height: 200px;
  width: 200px;
}

.producto>img {
  height: 100%;
  width: auto;
}

#mapa {
  width: 50%;
}

#mapa>iframe {
  width: 100%;
  height: 200px;
}
*{
  padding: 0px;
  margin: 0px;
}
body{
  width: 1000px;
  margin: 0px auto;
  background-color:#C7C7C7 ;
}
header{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}
li{
  list-style: none;
}
.section{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;ç
  border: 2px solid black;
}
.carrusel{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.productos{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
}
div{
  border: 1px solid black;
}
#enlaces{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 50px;
  width: 100%;
  margin-bottom: 100px;
}
#horarios{
  display: flex;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content:space-around;
  width: 50%;
}

* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #c30012;
}

.ametzondologo {
  width: 25%;
}

.candado {
  width: 3%;
  height: 3%;
}

.tienda {
  background-color: rgb(255, 223, 225);
  text-align: center;
}

.productos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 0 15% 0 15%;
}

.producto {
  height: 200px;
  width: 200px;
}

.producto img {
  height: 100%;
  width: auto;
}

#mapa {
  width: 50%;
}

#mapa>iframe {
  width: 100%;
  height: 200px;
}

#rh{
  text-align: center;
}
#bodyregistro{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
  color: white;
  background-color: #34495E;
}

#formregistro{
  margin: 20px auto;
  padding: 20px;
}